main.MuiBox-root.css-zxdg2z {
  height: 70vh;
}

div#root {
  padding-left: 16%;
}

h5.MuiTypography-root.MuiTypography-h5.css-ag7rrr-MuiTypography-root {
  padding-bottom: 15px;
}
.capitalize {
  text-transform: capitalize;
}